body {
  background-color: #fff8e1;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.title {
  font-size: 25px;
  font-weight: bold;
  color: rgb(243, 144, 31);
  padding-left: 140px;
  outline: 4px double rgb(252, 163, 62);
  margin: 15px;
}

.foto {
  display: inline-block;
  width: 35%;
  height: 430px;
  margin: 12px;
  border: 4px ridge rgb(252, 163, 62);
  float: left;
}

.foto-2 {
  display: inline-block;
  width: 35%;
  height: 500px;
  margin: 10px;
  border: 4px ridge rgb(252, 163, 62);
  float: right;
}

.fully {
  text-align: justify;
  font-size: larger;
  padding: 8px;
  color: rgb(161, 127, 114);
}
